html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    width: 50%;
    text-align: center;
    font-size: 2vw;
    color: white;
}

.left {
    background-color: pink;
}

.right {
    background-color: lightblue;
}

